/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li span {
  cursor: pointer;
}

li span:hover {
  text-decoration: underline;
}

li button {
  background-color: #dc3545;
}

li button:hover {
  background-color: #c82333;
}

/* Styles pour le thème sombre */
.dark {
  background-color: #333;
  color: #fff;
}

.dark .container {
  background: #444;
}

.dark button {
  background-color: #555;
}

.dark button:hover {
  background-color: #666;
}

.dark input[type="text"], .dark input[type="number"], .dark select {
  background-color: #555;
  color: #fff;
  border: 1px solid #666;
}